In [ ]:
print(1,1)
print(2,4)
print(3,9)
print(4,16)

1 1
2 4
3 9
4 16

In [ ]:
i = 1
while i<10:
  if i % 2 == 0:
    print(i)
  i+=1

In [ ]:
n = int(input())
i= 1
suma = 0
while i<=n:
  suma +=i
  i+=1
print("suma",suma)

In [ ]:
i_ant = 0
i = 1
while i <=10:
  print("i =",i ,"i_ant =", i_ant)
  i_ant = i
  i +=1

i = 1 i_ant = 0
i = 2 i_ant = 1
i = 3 i_ant = 2
i = 4 i_ant = 3
i = 5 i_ant = 4
i = 6 i_ant = 5
i = 7 i_ant = 6
i = 8 i_ant = 7
i = 9 i_ant = 8
i = 10 i_ant = 9

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(5,10):
  print(i)

5
6
7
8
9

In [ ]:
N = int(input())
for i in range(1,N+1):
  if i % 2 == 0:
    print(i)

10
2
4
6
8
10

In [ ]:
for i in range(2,9):
  print(i)
  break

2

In [ ]:
N = int(input())
s = ""
total = 0
for i in range(1,N+1):
  if i == N:
    s += str(i) + " = "
  else:
    s += str(i) +" + "
  total += i
s += str(total)
print(s)

8
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 = 36

In [ ]:
print(8)

8

In [ ]:
s(8)

TypeError: 'str' object is not callable

In [ ]:
abs(-8)

8

In [ ]:
abs(8)

8

In [ ]:
round(1.22734, 2)

1.23

In [ ]:
# sumamos del 1 al 1000
i = 1
suma = 0
while True:
  suma = suma + i
  i +=1
  if i>1000:
    break
print(suma)

In [ ]:
n = 0
while True:
  print("Juanito debe estudiar programacion")

In [ ]:
respuesta = input()

while True:
  print(respuesta)
  respuesta = input()
  if respuesta == "fin":
    break